.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  height: 30%;
  gap: 20px;
  margin-top: 5%;
  img {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.351);
    width: 20%;
    border-radius: 20px;
  }
  img:hover {
    scale: 1.5;
    // background-color: aliceblue;
    transform: rotate(5deg);
  }
}
