@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: "Sofia Sans", sans-serif;
  text-decoration: none;
}
.body p {
  margin: 0px;
  padding: 0px;
  /* font-family: "Open Sans", sans-serif; */
}
.body {
  margin: 0;
  padding: 0;
  position: relative;
  /* background-color: black; */
  max-width: 100vw;
  min-height: 100vh;
  /* overflow: hidden; */
}
nav {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  overflow: hidden;
  /* background-color: beige; */
}
/* Button */
button {
  border: none;
  background-color: transparent;
}
.asd {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  background-color: yellow;
  padding: 50px;
  font-size: 20px;
  margin-top: 1000px;
}
.video {
  display: none;
}
.videoDisplay {
  opacity: 1 !important;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: aliceblue;
  width: fit-content;
  height: 50%;
}
